#report-link {
	position: fixed;
	top: 10px;
	right: 10px;
	opacity: 0.5;
	font-size: 85%;
}
#report-link:hover {
	opacity: 1;
}

#all-ships tbody th {
	padding: 0;
}
#all-ships th a {
	display: block;
	padding: 8px;
}

@media (min-width: 500px) {
	.ship {
		max-width: 300px;
	}
}

@media (max-width: 768px) {
	#all-ships thead, #all-ships td {
		display: none;
	}
}
