#report-link {
	font-size: 85%;
}

#all-ships tbody th {
	padding: 0;
}
#all-ships th a {
	display: block;
	padding: 8px;
}

.stats th, .stats td {
	white-space: nowrap;
}

@media (min-width: 500px) and (max-width: 768px) {
	.ship {
		max-width: 400px;
	}
}

@media (max-width: 991px) {
	.table-collapse td img {
		display: none;
	}
}

@media (max-width: 600px) {
	.table-collapse thead, .table-collapse td {
		display: none;
	}
	.table-collapse th {
		font-size: 150%;
		font-weight: 200;
	}
}
