<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>{% block title %}Shipdex{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
	<nav class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ url_for('index') }}">Shipdex&nbsp;&nbsp;<small>[beta]</small></a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li{% if tab == 'ships' %} class="active"{% endif %}><a href="{{ url_for('index') }}">Ships</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="https://github.com/KanColleTool/shipdex/issues" target="_blank"><small>Report Issues</small></a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	<div class="container">
	
{% block content %}
	<h1>Oops!</h1>
	<p>
		Looks like someone forgot to override the 'content' block.<br />
		If you're not me, this means I've been coding at the wee hours in the morning and done something really dumb.<br />
		Please give me a slap from my awake self, along with the URL to this page.
	</p>
{% endblock %}
	
	</div>
	
	<script type="text/javascript" src="//code.jquery.com/jquery.min.js"></script>
	<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>
