<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>{% block title %}Shipdex{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
	
	<div class="container">
	
	<a id="report-link" href="https://github.com/KanColleTool/shipdex/issues">Complain here, please!</a>
	
	<div class="page-header">
		<h1><a href="{{ url_for('index') }}">Shipdex</a> <small>[beta]</small></h1>
	</div>
	
	<ol class="breadcrumb">
		{% for item in breadcrumb %}
			<li{% if loop.last %} class="active"{% endif %}>{% if not loop.last %}<a href="{{ item.0 }}">{{ item.1 }}</a>{% else %}{{ item }}{% endif %}</li>
		{% endfor %}
	</ol>
	
{% block content %}
	<h1>Oops!</h1>
	<p>
		Looks like someone forgot to override the 'content' block.<br />
		If you're not me, this means I've been coding at the wee hours in the morning and done something really dumb.<br />
		Please give me a slap from my awake self, along with the URL to this page.
	</p>
{% endblock %}
	
	</div>
	
	<script type="text/javascript" src="//code.jquery.com/jquery.min.js"></script>
	<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>
