{% extends "base.html" %}
{% set tab = 'equips' %}
{% import "_macros.html" as m %}
{% block title %}{{ equip.api_name }} | Shipdex{% endblock %}
{% block content %}

<div class="equip col-md-3 col-sm-6">
	<header>
		<h2>{{ translate(equip.api_name) }}</h2>
	</header>
	
	<table class="table stats">
		{% for key, stat in [('api_taik', 'HP'), ('api_souk', 'Armor'), ('api_houg', 'Firepower'), ('api_raig', 'Torpedo'), ('api_tyku', 'Anti-Air'), ('api_tais', 'Anti-Sub'), ('api_houk', 'Evasion'), ('api_saku', 'Line of Sight'), ('api_leng', 'Range'), ('api_houm', 'Accuracy'), ('api_baku', 'Dive Bomber Attack')] %}
			{%- if equip[key] != 0 %}
				<tr>
					<th>{{ m.statimg(stat) }}</th>
					<th>{{ stat }}</th>
					<td>{% if equip[key] > 0 %}+{% else %}-{% endif %} {{ equip[key]|abs }}</td>
					<td width="100%" />
				</tr>
			{%- endif %}
		{%- endfor %}
	</table>
</div>

<p class="col-md-12">
	{{ translate(equip.api_info)|safe }}
</p>

{% endblock %}
