{% extends "base.html" %}
{% set tab = 'ships' %}
{% block title %}{{ ship[0].api_name }} | Shipdex{% endblock %}
{% block content %}

<div class="clearfix">
{% for stage in ship %}
{% with ship=stage %}
	{% include "_ship.html" %}
{% endwith %}
{% endfor %}
</div>

<div class="col-md-12">
	<h5>Description</h5>
	<p>{{ translate(ship.0.api_sinfo)|safe }}</p>
	
	<h5>Links</h5>
	<ul>
		{% if translate(ship.0.api_name) != ship.0.api_name -%}
		<li><a href="http://kancolle.wikia.com/wiki/{{ translate(ship.0.api_name) }}">English Wiki</a></li>
		{%- endif %}
		<li><a href="http://danbooru.donmai.us/posts?utf8=%E2%9C%93&amp;tags={{ normalize_name(translate(ship.0.api_name)) }}_(kantai_collection)">Danbooru</a></li>
		<li><a href="http://www.pixiv.net/search.php?s_mode=s_tag&amp;word={{ ship.0.api_name }}">Pixiv</a></li>
	</ul>
</div>

{% endblock %}
